<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Mi Evaluación</ion-list-header>
          <ion-note>Ionic & Angular</ion-note>
          <!-- Sidebar se muestran los links de la navegacion-->
          @for (p of appPages; track p.title) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
          <ion-item lines="none" detail="false" style="margin-top: 20px;">
            <ion-icon aria-hidden="true" slot="start" ios="moon-outline" md="moon-sharp"></ion-icon>
            <ion-label>Modo Oscuro</ion-label>
            <ion-toggle slot="end" (ionChange)="toggleDarkMode($event)"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>